@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.App {
  text-align: center;
}

body{
  background-color: #ABD9FF;
  font-family: 'Poor Story', cursive;
}

.title{
  font-size: 60px;
}

.jokes-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.jokes{
  font-size: 60px;
}

.rotate-loader{
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
}

.joke-button{
  font-size: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Poor Story', cursive;
  padding-top: 250px;
}

.joke-button:hover{
  font-size: 50px;
  color:blueviolet;
}